@import '@/styles/variables';
@import '@/styles/mixins';

.searchContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: $space-md 0;
  .searchBox {
    padding: 12px $space-md ;
    background-color: $color-deepgraybg;
    border-radius: $radius-xl;
    display: flex;
    align-items: center;
    gap: $space-sm;
    input {
      border: 0;
      background-color: $color-transparent;
      outline: none;
      width: 200px;
    }
  }
  .likebtn {
    background-color: $color-point;
    color: $color-white;
    border-radius: $radius-round;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-md;
  margin-top: $space-sm;
  .categoryBox {
    position: relative;
    height: 300px;
    border-radius: $radius-lg;
    padding: $space-xxxl;
    &:first-child {
      grid-column: 1 / span 2;
      padding-right: 100px;
      text-align: right;
      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
      background: linear-gradient(270deg, #FAFAFC 0.01%, #FFF3DD 100%);
      .indexArea {
        background: linear-gradient(88.79deg, #F4B539 1.06%, #F1D66B 99.01%);
        span {
          background: linear-gradient(90deg, #EB8D22 0%, #F5C444 100%);
        }
      }
    }
    &:nth-child(2) {
      background: linear-gradient(49.55deg, #FAFAFC 26.05%, #D5F0F4 102.81%);
      .indexArea {
        background: linear-gradient(88.79deg, #3EB4C9 1.06%, #90D4DF 99.01%);
        span {
          background: linear-gradient(90deg, #14A2AE 0%, #15DEE0 100%);
        }
      }
    }
    &:nth-child(3) {
      background: linear-gradient(70.86deg, #FAFAFC 8.4%, #FFE5F6 96.07%);
      .indexArea {
        background: linear-gradient(88.79deg, #F05BA2 1.06%, #F78BBE 99.01%);
        span {
          background: linear-gradient(90deg, #EE469A 0%, #F484BB 100%);
        }
      }
    }
    &:nth-child(4) {
      background: linear-gradient(62.78deg, #FAFAFC 7.96%, #FFF1EB 81.93%);
      .indexArea {
        background: linear-gradient(88.79deg, #ED6540 1.06%, #F59B7F 99.01%);
        span {
          background: linear-gradient(90deg, #E65033 0%, #EB8E6F 100%);
        }
      }
    }
    &:nth-child(5) {
      background: linear-gradient(60.9deg, #FAFAFC 8.89%, #E0ECDE 86.32%);
      .indexArea {
        background: linear-gradient(88.79deg, #5BA758 1.06%, #91E27F 99.01%);
        span {
          background: linear-gradient(90deg, #05823F 0%, #39BC68 100%);
        }
      }
    }
    &:nth-child(6) {
      background: linear-gradient(68.5deg, #FAFAFC 6.93%, #E2EDFB 97.56%);
      .indexArea {
        background: linear-gradient(88.79deg, #4A80D8 1.06%, #A3C3F6 99.01%);
        span {
          background: linear-gradient(90deg, #2C63CE 0%, #6BAAF0 100%);
        }
      }
    }
    &:nth-child(7) {
      background: linear-gradient(61.44deg, #FAFAFC 4.14%, #E8E7F9 97.5%);
      .indexArea {
        background: linear-gradient(88.79deg, #775EDB 1.06%, #B9A6F6 99.01%);
        span {
          background: linear-gradient(90deg, #6040D3 0%, #9E8BF0 100%);
        }
      }
    }
    &:nth-child(8) {
      background: linear-gradient(58.32deg, #FAFAFC 3.59%, #FFDED5 91.61%);
      .indexArea {
        background: linear-gradient(88.79deg, #D06759 1.06%, #F4B7A6 99.01%);
        span {
          background: linear-gradient(90deg, #BE4E3E 0%, #F08A73 100%);
        }
      }
    }
    &:nth-child(9) {
      background: linear-gradient(70.66deg, #FAFAFC 9.42%, #D3E7EA 92.76%);
      .indexArea {
        background: linear-gradient(88.79deg, #3D9C96 1.06%, #8AD8D3 99.01%);
        span {
          background: linear-gradient(90deg, #267D78 0%, #61C3BD 100%);
        }
      }
    }
    &:nth-child(10) {
      background: linear-gradient(69.2deg, #FAFAFC 8.11%, #F2E3FB 92.24%);
      .indexArea {
        background: linear-gradient(88.79deg, #A03BB5 1.06%, #D9A9EC 99.01%);
        span {
          background: linear-gradient(90deg, #871DA1 0%, #C87FE0 100%);
        }
      }
    }
    &:nth-child(11) {
      background: linear-gradient(60deg, #FAFAFC 6.87%, #FDEEDB 92.45%);
      .indexArea {
        background: linear-gradient(88.79deg, #C48432 1.06%, #F3D296 99.01%);
        span {
          background: linear-gradient(90deg, #A96D25 0%, #E3B360 100%);
        }
      }
    }
    .categoryName {
      font-size: $font-size-xl;
      position: relative;
      padding-bottom: $space-md;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80px;
        height: 2px;
        background-color: $color-text-secondary;
      }
    }
    &:first-child {
      .categoryName {
        &::after {
          content: none;  // 첫 번째 항목은 after 라인 제거
        }
      }
    }
    .indexArea {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      bottom: 0;
      //background-color: $color-point;
      color: $color-white;
      //border-radius: 0 $radius-lg $radius-lg 0;
      border-radius: 0px 16px 16px 0px;
      overflow: hidden;
      span {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        width: 100%;
        display: block;
        text-align: center;
        padding: $space-lg 0;
        font-size: $font-size-xl;
      }
    }
    .iconArea {
      font-size: $font-size-xxxl;
      color: $color-text;
      margin-bottom: $space-sm;

    }
  }
}
