@import '@/styles/variables';
@import '@/styles/mixins';

.searchContainer {
  display: flex;
  gap: $space-sm;
  align-items: center;
  justify-content: flex-end;
  padding: $space-md 0;
  .searchBox {
    padding: 12px $space-md ;
    background-color: $color-deepgraybg;
    border-radius: $radius-xl;
    display: flex;
    align-items: center;
    gap: $space-sm;
    input {
      border: 0;
      background-color: $color-transparent;
      outline: none;
      width: 200px;
    }
  }
  .likebtn {
    background-color: $color-point;
    color: $color-white;
    border-radius: $radius-round;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
  }
}
