@import '@/styles/variables';


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family-base;
  background-color: $color-primary;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
}



.layout-container {
  position: relative;
  padding-left: 370px;
  padding-top: 75px;
  padding-right: 50px;
}
.main-container {
  background-color: $color-background;
  box-shadow: $shadow-inner;
  border-radius: $radius-xl;
  padding: $space-xl;
  min-height: 150vh;
}