@import '@/styles/variables';
@import '@/styles/mixins';

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 330px;
  padding-top: 100px;
  color: $color-point;
  @include mini_desktop {
    position: relative;
    width: 100%;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .logo {
    text-align: center;
    img {
      width: 220px;
      max-width: 40vw;
    }
  }
  .menulist {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 200px;
    margin: $space-xl auto 0;
    li {
      .menu {
        display: flex;
        align-items: center;
        gap: $space-md;
        font-size: $font-size-xl;
        span {
          color: $color-white;
          transition: 0.2s;
        }
      }
      &:hover {
        span {
          color: $color-point;
        }
      }
    }
    @include mini_desktop {
      display: none;
    }
  }
  .menubar {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-point;
    font-size: 50px;
    @include mini_desktop {
      display: block;
    }
  }
}