@import '@/styles/variables';

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 330px;
  padding-top: 100px;
  color: $color-point;
  .logo {
    text-align: center;
    img {
      width: 220px;
    }
  }
  .menulist {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 200px;
    margin: $space-xl auto 0;
    li {
      .menu {
        display: flex;
        align-items: center;
        gap: $space-md;
        font-size: $font-size-xl;
        span {
          color: $color-white;
          transition: 0.2s;
        }
      }
      &:hover {
        span {
          color: $color-point;
        }
      }
   }
  }
  .navbanner {
    width: 220px;
    margin: $space-xxl auto 0;
    background-color: $color-secondary;
    padding: $space-lg $space-lg $space-sm $space-lg;
    border-radius: $radius-lg;
    color: $color-white;
    span {
      color: $color-point;
      font-weight: $font-weight-bold;
    }
    .bannericon {
      color: $color-graybg;
      opacity: 0.5;
      font-size: $font-size-xxxl;
      text-align: right;
    }
  }
}